<!--<script type="text/javascript" src="http://adhitzads.com/819593"></script>-->
<h2>{{QuizData.Title}}</h2>
<hr />
<div id="quizTop"></div>

<!--Quiz start-->
<div class="row" ng-show="quizTitleScreen">
    <div class="col-xs-12">

        <img ng-src="{{QuizData.TitleScreenImageURL}}" ng-hide="QuizData.TitleScreenImageURL == ''" class="img-responsive" style="max-height: 300px;" />

        <h4>{{QuizData.Description}}</h4>

        <button id="btnStartQuiz" type="button" class="btn btn-primary btn-lg btn-block" ng-click="startQuiz()" value="Start Quiz">
            Click here to start the quiz! <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        </button>
        <a class="btn btn-primary btn-lg btn-block" href="/">See our other quizzes! <span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
        <br />
    </div>
</div>

<!--Quiz process-->
<div class="row" ng-hide="quizCompleted || quizTitleScreen">

    <div class="col-xs-12">
        <br />
        <progressbar class="progress-striped active" max="questions.length" value="currentQuestionIdx +1">
            <span style="color:black; white-space:nowrap; font-size:16px">Questions answered: {{currentQuestionIdx}} of {{questions.length}}</span>
        </progressbar>
    </div>

    <div class="col-xs-12">
        <img ng-src="{{currentQuestion.imageURL}}" alt="Question image" ng-hide="currentQuestion.imageURL == ''" class="img-responsive" style="max-height: 300px;" />
        <h4>{{currentQuestion.question}}</h4>
        <br />
        <div data-toggle="buttons" ng-repeat="choice in currentQuestion.answerChoices|orderBy:'rank'">
            <label class="btn active">
                <span style="color:black;">{{indexToChoice($index)}}. </span>
                <input type="radio" ng-model="$parent.selectedAnswer" value="{{choice.choiceText}}" name="{{currentQuestion.id}}-answer">
                <i class="fa fa-circle-o fa-2x"></i>
                <i class="fa fa-check-circle-o fa-2x"></i>
                <span style="white-space: pre-wrap;">{{choice.choiceText}}</span>
            </label>
        </div>
    </div>

    <div class="col-xs-12" style="padding-bottom:10px">
        <!--<input id="btnPrevious" type="button" class="btn" ng-click="getPreviousQuestion()" value="Previous Question" />-->
        <button id="btnNext1" type="button" class="btn btn-primary btn-lg btn-block" ng-click="getNextQuestion()" value="Next Question >" ng-disabled="selectedAnswer === 0">
            Next Question <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
    </div>

</div>

<!--Factual quiz results-->
<div class="row" ng-show="quizCompleted && QuizData.QuizType == 'F'">
    <div class="col-xs-12">
        <h3>All finished! You got {{numberCorrect}} out of {{questions.length}} correct ({{finalScore}}%).</h3>
        <!--<div ng-show="finalScore <= 60">{{QuizData.MessageFailedScore}}</div>
        <div ng-show="finalScore > 60 && finalScore < 80">{{QuizData.Message6080Score}}</div>
        <div ng-show="finalScore >= 80 && finalScore < 100">{{QuizData.Message80100Score}}</div>
        <div ng-show="finalScore == 100">{{QuizData.MessagePerfectScore}}</div>-->
        <a href="#" ng-click="showResults=!showResults">Click here to <strong>Show/Hide</strong> Results</a>
        <div ng-show="showResults">
            <table st-table="responses" class="table table-striped">
                <thead>
                    <tr>
                        <th>Result</th>
                        <th st-sort="questionID">No.</th>
                        <th st-sort="question">Question</th>
                        <th st-sort="selectedAnswer">Your Answer</th>
                        <th st-sort="correctAnswer">Correct Answer</th>
                    </tr>
                </thead>
                <tr ng-repeat="row in responses">
                    <td>
                        <button type="button" ng-class="row.isCorrect ? 'btn btn-success' : 'btn btn-danger'">
                            <i ng-show="!row.isCorrect" class="glyphicon glyphicon-remove-circle"></i>
                            <i ng-show="row.isCorrect" class="glyphicon glyphicon-ok-circle"></i>
                        </button>
                    </td>
                    <td>{{row.questionID}}</td>
                    <td>{{row.question}}</td>
                    <td>{{row.selectedAnswer}}</td>
                    <td>{{row.correctAnswer}}</td>
                </tr>

            </table>
        </div>
        <!--<button id="btnTestAgain" type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.reload(false)">
            Click here to take this quiz again! <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>-->
        <a class="btn btn-primary btn-lg btn-block" href="/">See our other quizzes! <span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
        <br />
    </div>
</div>

<!--Personality quiz results-->
<div class="row" ng-show="quizCompleted && QuizData.QuizType == 'P'">
    <div class="col-xs-12">
        <h3>You are a {{personalityResult.name}}</h3>
        <div>
            <img ng-src="{{personalityResult.imageURL}}" alt="Result image" class="img-responsive" ng-hide="personalityResult.imageURL == ''" style="max-height: 240px;" />
            <br />
            <h3>{{personalityResult.description}}</h3>
        </div>
        <!--<button id="btnTestAgain" type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.reload(false)">
            Click here to take this quiz again! <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>-->
        <a class="btn btn-primary btn-lg btn-block" href="/">See our other quizzes! <span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
        <br />
    </div>
</div>

<button class="btn btn-facebook" style="margin-bottom:2px" ng-click="showPopUp('https://www.facebook.com/sharer.php?u=')"><i class="fa fa-facebook"></i> | Share on Facebook</button>
<button class="btn btn-twitter" style="margin-bottom:2px" ng-click="showPopUp('https://twitter.com/intent/tweet?url=')"><i class="fa fa-twitter"></i> | Share on Twitter</button>
<button class="btn btn-google-plus" style="margin-bottom:2px" ng-click="showPopUp('https://plus.google.com/share?url=')"><i class="fa fa-google-plus"></i> | Share on Google+</button><br />

<a href="http://www.kqzyfj.com/click-7850069-10391834-1361396707000" target="_blank">Meet Singles Who Share Your Faith and Values. Start Your Free Trial at ChristianCafe.com.</a><img src="http://www.awltovhc.com/image-7850069-10391834-1361396707000" width="1" height="1" border="0" />

<div class="fb-comments" data-href="{{myURL}}" data-numposts="5" data-width="100%"></div>